<!DOCTYPE html>
<html dir="rtl" lang="fa">
    <head>
       {% include head.html %}
        {% if page.tags %}
          <meta name="keywords" content='{{ page.tags | join: "," }}' />
        {% elsif page.url contains site.tag_page_dir %}
          <meta name="robots" content="noindex">
        {% endif %}
        {% if page.keywords %}
          <meta name="keywords" content='{{ page.keywords | split: " " | join: "," }}' />
        {% endif %}    
        {% if page.title %}
          <title>{% if site.title %} {{ site.title}} | {% endif %}{{ page.title }}</title>
        {% else %}
          <title>{% if site.title %} {{ site.title}} {% endif %}</title>
        {% endif %}  
    </head>
    <body>
        <div class="maindiv">
            {{ content }}           
            {% include footer.html %}
        </div>
    </body>