---
layout : default
---
<h1 style="margin-top:0;margin-bottom:4rem;">
    {{ site.title }}
</h1>

{% include sign.html %}


{% for post in paginator.posts %} 
    <div>
        <h3 style="margin-bottom:0.4375rem">
            <a style="box-shadow:none" href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>        
        </h3>
        <small style="color:#aaabd3;">
                {{ post.date | jdate: "%A %d %b %Y" }}
        </small>
        <p style="text-align:justify">{{ post.content | strip_html | truncatewords: 35 }}</p>
    </div>
{% endfor %}