---
layout : default
---
<h1 style="font-size:3.29096rem;line-height:4.375rem;margin-bottom:2.275rem;margin-top:0;">
    {{ site.title }}
</h1>
{% include sign.html %}


{% for post in paginator.posts %} 
    <div>
        <h3 style="margin-bottom:0.4375rem">
            <a style="box-shadow:none" href="{{ post.url | absolute_url }}">{{ post.title }}</a>        
        </h3>
        <small style="color:#aaabd3;">
                {{ post.date | jdate: "%A %d %b %Y" }}
        </small>
        <p>{{ post.content | strip_html | truncatewords: 35 }}</p>
    </div>
{% endfor %}