---
layout : default
---
    <h3 style="margin-top:0">
    <a style="box-shadow:none;text-decoration:none;color:inherit" href="{{ site.url }}">‹ {{ site.title }}</a>
    </h3>

    <h1 style="color:#0074D9">{{ page.title }}</h1>
    <p style="font-size:0.83255rem;line-height:1.75rem;color:#aaabd3;display:block;margin-bottom:1.75rem;margin-top:-1.75rem">
            {{ page.date | jdate: "%d %b %Y" | habify }}
    </p>
 
    {{ content }}

    <small id="post-tags">
            <i class="fas fa-tag">کلمات کلیدی: </i>
        {% for tag in page.tags %}
          <i class="fas fa-tag"></i>
            <a style="
            color: rgb(255, 255, 255);
            background-color: rgb(101, 104, 107);
            padding: .4em .5em;
            margin: 2px 5px 2px 0;
            border-radius: 5%;
             box-shadow: none;" 
             rel="tag" href="{{ tag | tag_url  }}">
              {{ tag }}</a>
   
        {% endfor %}
    </small>  
    
    {% if page.telegram_post_id %}
    <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-discussion="hsnblog/{{page.telegram_post_id}}" data-comments-limit="5"></script>
    {% endif %}
    
    <hr style="margin-bottom:1.75rem;margin-top:1.75rem">
    
    <ul style="display:flex;flex-wrap:wrap;justify-content:space-between;list-style:none;padding:0">
        {% if page.previous %}
        <li><a rel="prev" style="box-shadow:none;" href="{{ page.previous.url }}">→ {{ page.previous.title }}</a>
        </li>
        {% else %}
        <li></li>
        {% endif %}

        {% if page.next %}
        <li><a rel="next" style="box-shadow:none;" href="{{ page.next.url }}">{{ page.next.title }} ←</a>
        </li>
        {% else %}
        <li></li>
        {% endif %}
        </ul>

